<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stories</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">
        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                       <a href="#menu-toggle" class="btn btn-success" id="menu-toggle">Toggle Screen</a><br/><br/>
                        <h1> Coming Soon! </h1>


                    </div>
                </div>
            </div>
        </div>


    </div>
    <% include partials/jsIncludes.ejs %>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
